# Django web framework
Django==5.0.4

# Database management
django-environ==0.9.0

# For handling CSV files
pandas==2.0.3

# For handling file uploads
django-storages==1.13.2

# For improved security
django-extensions==3.2.1

# For date and time operations
pytz==2023.3

# For SQL parsing
sqlparse==0.4.4

# For ASGI support
asgiref==3.7.2

# For serving static files in development
whitenoise==6.4.0

# For managing dependencies and virtual environments
pip-tools==6.14.0
